<section class="masthead">
    <nav class="language-nav">
        <ul>
            <li>CSS</li> 
            <li>HTML</li>
            <li>Javascript</li>
            <li>Ruby</li>
        </ul>
    </nav>
    <%= image_tag ("AA_Times_Logo.png") %>
    <nav class="bottom-nav">
        <ul>
            <li>Tuesday, October 18, 2016</li>
            <li><i class="fas fa-newspaper"></i>  Today’s Paper</li>
            <li><i class="fas fa-video"></i>  Video</li>
            <li>77°F</li>
            <li>AAO +100%</li>
        </ul>
    </nav>
   
</section>